.planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}

.planos-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
  background-color: var(--cor-primaria-light);
  padding: var(--padding-xl);
  border-radius: 2rem;
}

.planos-titulo {
  color: var(--cor-secundaria-light);
}

.lista-planos {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.cartao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-m);
  background-color: var(--cor-neutra-light);
  padding: var(--padding-m);
  border-radius: 1rem;
  flex-grow: 1;
}

.cartao > h3 {
  font-size: var(--font-size-l);
}

.cartao > p {
  text-align: center;
}

.cartao > span {
  font-size: var(--font-size-xl);
  font-family: var(--font-sigma);
  color: var(--cor-primaria-light);
}

.botao-compra {
  border: none;
  background-color: var(--cor-primaria-light);
  padding: var(--padding-s) var(--padding-l);
  border-radius: 2rem;
  color: var(--cor-neutra-light);
}
